body {
  margin: 0;
  font-family: 'Public Sans' !important;
}

code {
  font-family: 'Public Sans' !important;
}

.p-1{
  padding: 4px;
}

.p-2{
  padding: 8px;
}

.mr-1{
  margin-right: 4px;
}

.mr-2{
  margin-right: 8px;
}